spring:
  application:
    name: auth-lab

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:3306/auth_lab?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

logging:
  level:
    org.hibernate.sql: debug

jwt:
  secret: ${JWT_SECRET}
  access:
    expiration: 1800000
  refresh:
    expiration: 604800000